
<div class="Code-payment"><a id="dot-payment">.</a><a class="live-payment">Live</a></div>
<div class="display-value-payment"><a>your code: {{code}}</a></div>
 
 <!--<app-generator-page [CodeGen]="code"></app-generator-page>-->
        
    



<div class = TopContent-payment></div>
<label id="payment">payment</label>
<label id="ammount">ammout</label>
<form [formGroup]="userForm" (ngSubmit)="userSubmit()">
<input type="text" name="payment_input" id="InputPayment" formControlName="name" placeholder="payment">
<input type="text" name="ammount_input" id="InputAmmount" formControlName="ammount" placeholder="ammount">
<button class="mat-stroked-button" id="AddPayment"  >+ ADD</button>
</form>


<label id="paymentList">Payment List</label>
<ag-grid-angular
   style="width: 100%; height: 50%"
   class="ag-theme-alpine"
   [columnDefs] ="columnDefs"
   [rowData] ="rowData"
   [headerHeight] = ""
   (gridReady)="onGridReady($event)"
 ></ag-grid-angular>